@{
    ViewData["Title"] = "BasicPlanIndex";
}



<div class="container">
    <h3>@ViewBag.planType </h3>
    <br />
    <h3> @ViewBag.personCount </h3>
    <br />
    <h3>@ViewBag.price</h3>
    <br />
    <h3>@ViewBag.content</h3>
    <br />
    <h3>@ViewBag.resolution</h3>
    <br />
    <a href="/Default/StandardPlanIndex" class="btn btn-outline-warning">Standart Plan</a>
    <a href="/Default/UltraPlanIndex" class="btn btn-outline-success">Ultra Plan</a>
</div>